# == 应用配置 ==
# 运行模式 debug test release (默认：release)
GIN_MODE=release

# 监听端口 (默认：127.0.0.1:8000）
APP_RUN_ADDRESS=127.0.0.1:8000

# == 账号配置 ==
# 管理员账号
APP_ADMIN_USERNAME=admin
# 管理员密码
APP_ADMIN_PASSWORD=